* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-image: url(../img/form-background.jpeg);
  background-size: cover;
}
header {
  text-align: center;
  padding: 5px;
  color: #eeeee4;
}

.container {
  font-weight: bold;
  width: 40%;
  min-width: 400px;
  max-width: 700px;
}
#survey-form {
  background-color: #063970;
  color: #eeeee4;
  display: block;
  padding: 5px;
  font-size: 20px;
  margin-bottom: 50px;
  border-radius: 5px;
}
.information {
  margin: 5px;
  padding: 10px;
}
.textarea,
.button {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

#submit {
  font-weight: bold;
  background-color: #1f9bb1;
  color: #eeeee4;
  border: 0;
}
.input {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 0px;
  margin-top: 5px;
}
#checkbox {
  margin: 5px;
}
option {
  margin: 40px;
  cursor: pointer;
}
